# Python
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/
media/*
!media/.gitkeep
!media/covers/.gitkeep
!media/manuscripts/.gitkeep
!media/profile_photos/.gitkeep

# Environments
venv/
env/
.env

# IDE
.vscode/
.idea/
